<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="pageLayout :: page">
 
    <body>
        <div th:fragment="content">
        <b th:text="${question.description}">апр</b>
    
        <div><table>
                <tr>
                    <th th:text='#{admin.description}'>DESCRIPTION</th>
                    <th th:text='#{answer.value}'>correct</th>
                    <th th:text='#{admin.actions}'>actions</th>
                </tr>
                <tr th:each="answer : ${question.answers}">
                    <td th:text="${answer.description}">gf</td>
                    <td th:text="${answer.correct}">fh</td>
                    <td><form th:action="@{/editanswer}" method="GET">
                            <input type="hidden"  name="answerId" th:value = "${answer.id}"/>
                            <input type="submit" value="Edit" />
                        </form>

                        <form th:action="@{/deleteanswer}" method="GET">
                            <input type="hidden"  name="questionId" th:value = "${answer.id}"/>
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            </table></div>
        <a th:href="@{'/createanswer/'+${question.id}}" th:text='#{answer.create}'>Create answer</a>

       
        </div>
    </body>
</html>
