<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="pageLayout :: page">
  
    <body>
        <div th:fragment="content">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${message}">
            This login is exist
        </div>
        <h1>Create test</h1>
        <form th:action="@{/createquestion}" method="post">
            <div><label> Description : <input type="text" name="description"/> </label></div>
            <input type="hidden" name="testId" th:value="${testId}"/>

            <div><input type="submit" value="ОK"/></div>
        </form>
        </div>
    </body>
</html>
