<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="pageLayout :: page">
   
    <body>
        <div th:fragment="content">
        
        <h1 th:text='#{subject.create}'>Create test</h1>
        <form th:action="@{/editsubject}" method="post" th:object="${subject}">
            <div><label th:text='#{admin.name}'> Name : </label><input type="text" name="name" th:field="*{name}"/> </div>
            <div><label th:text='#{admin.description}'> Description : </label><input type="text" name="description" th:field="*{description}"/></div>
            <div><input type="submit" value="ОK"/></div>
        </form>
        </div>
    </body>
</html>
