<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div><a th:href="@{('?locale=en')}">EN</a>
        <a th:href="@{('?locale=ru')}">RU</a></div> 
        <div class="container">
            <section id="content">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <h1 th:text='#{login.label.login}'>Login Page</h1>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"
                                            th:placeholder='#{registration.login}' id='login'/> </label></div>
            <div><label> Password: <input type="password" name="password"
                                          th:placeholder='#{registration.password}' id='password'/> </label></div>
            <div><input type="submit" th:value="#{login.enter}"/></div>
        </form>
        <a th:href="@{/registration}" th:text="#{login.registration}">Not registered?</a>
            </section>
        </div>
    </body>
</html>
