<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:fragment="page">
    <head>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/external-css.css}" />
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
      
        
        
        <div th:replace="fragments :: header">TODO write content</div>
        
        <div th:replace="this :: content">TODO write content</div>
    </body>
</html>
