<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="pageLayout :: page">
   
    <body>
        <div th:fragment="content">
        <div class="container" th:fragment="content">
            <div class="card">
            <table>
                <tr>
                    <th th:text='#{admin.subject}'></th>
                    <th th:text='#{admin.description}'></th>
                    <th th:text='#{admin.actions}'></th>
                </tr>
                <tr th:each="subject : ${subjects}">
                    <td><a th:text="${subject.name}"></a></td>
                    
                    <td th:text="${subject.description}">апр</td>
                   
                   
                    <td><form th:action="@{/editsubject}" method="GET">
                            <input type="hidden"  name="subjectId" th:value = "${subject.id}"/>
                            <input type="submit" value="Edit" />
                        </form>

                    <form th:action="@{/deletesubject}" method="GET">
                            <input type="hidden"  name="subjectId" th:value = "${subject.id}"/>
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            </table>
                <ul class="nav nav-pills">
                    <li class="nav-item" th:each="i: ${#numbers.sequence(0, subjects.totalPages-1)}">
                        <a th:href="@{/subjects/(page=${i})}"th:text="${i}" class="nav-link"></a>
                    </li>
                </ul>
            </div>
            </div>
        
        <a th:href="@{/createsubject}" th:text='#{subject.create}'>Create subject</a>
        </div>
    </body>
</html>
