<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="pageLayout :: page">
   
    <body>
        <div th:fragment="content">
        <div class="container" >
            <div class="card">
            <table>
                <tr>
                    <th th:text='#{registration.login}'></th>
                    <th th:text='#{admin.user.name}'></th>
                    <th th:text='#{admin.user.surname}'></th>
                    <th th:text='#{admin.blocked}'></th>
                    <th th:text='#{user.role}'></th>
                    <th th:text='#{admin.actions}'></th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name}">апр</td>
                    <td th:text="${user.surname}">апр</td>
                    <td th:text="${!user.enabled}">ар</td>
                    <td th:text="${user.roles}">апр</td>
                   
                    <td><form th:action="@{/edituser}" method="GET">
                            <input type="hidden"  name="userId" th:value = "${user.id}"/>
                            <input type="submit" value="Edit" />
                        </form>

                    <form th:action="@{/deleteuser}" method="POST">
                            <input type="hidden"  name="userId" th:value = "${user.id}"/>
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            </table>
                <ul class="nav nav-pills">
                    <li class="nav-item" th:each="i: ${#numbers.sequence(0, users.totalPages-1)}">
                        <a th:href="@{/users/(page=${i})}"th:text="${i}" class="nav-link"></a>
                    </li>
                </ul>
            </div>
            </div>
      
        
        </div>
    </body>
</html>
